*.o
*.elf
*.map
*.d
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/project.properties
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
**/*.X/.generated_files
/utilities/mpfs_generator/src/MPFS2_Java/nbproject/private/
/utilities/tcpip_discoverer/src/nbproject/private/
/utilities/tcpip_discoverer/src/build/
/utilities/tcpip_discoverer/src/dist/
/utilities/mpfs_generator/src/MPFS2_Java/dist/
/utilities/mpfs_generator/src/MPFS2_Java/build/
/utilities/mpfs_generator_net/src/MPFS2_Java/nbproject/private/
/utilities/mpfs_generator_net/src/MPFS2_Java/build/
